@model List<TodoViewModel>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Done</th>
      <th scope="col">Task</th>
      <th scope="col" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
    @foreach(TodoViewModel todo in Model)
    {
        <tr>
            <td>
                <li class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
            <div class="form-check">
                <input id="isDone@(todo.Id)" class="form-check-input me-0" type="checkbox" aria-label="..." onclick="MyFunction(@todo.Id)" checked="@todo.IsDone" />
            </div>
        </li>
            </td>
            <td>
                   <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent">
            <p id="name@(todo.Id)" class="lead fw-normal mb-0">@todo.Name</p>
                </li>
            </td>
            <td>
                <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
            <div class="d-flex flex-row justify-content-center mb-1">
                <a asp-controller="todo" asp-action="update" asp-route-id="@todo.Id" class="text-info" data-mdb-toggle="tooltip" title="Edit todo"><i
                        class="bi bi-pencil-fill me-3"></i></a>
                <a class="text-danger" data-mdb-toggle="tooltip" title="Delete todo" asp-controller="todo" asp-action="remove" asp-route-id="@todo.Id">
                    <i class="bi bi-trash-fill"></i>
                </a>
            </div>
            <div class="text-center text-muted">
                <p class="small mb-0">@todo.GetDueDate()</p>
                <span id="dueDate@(todo.Id)" hidden="hidden">@todo.DueDate</span>
                <span id="createdDate@(todo.Id)" hidden="hidden">@todo.CreatedDate</span>
            </div>
        </li>
            </td>
        </tr>
    }
    </ul>
  </tbody>
</table>